<div class="weui-tabbar">
    <a [routerLink]="['/home']" routerLinkActive="weui-bar__item_on" class="weui-tabbar__item">
        <div class="weui-tabbar__icon">
            <i class="fa fa-home"></i>
        </div>
        <p class="weui-tabbar__label">首页</p>
    </a>
    <a [routerLink]="['/me']" routerLinkActive="weui-bar__item_on" class="weui-tabbar__item">
        <span style="display: inline-block;position: relative;">
            <div class="weui-tabbar__icon">
                <i class="fa fa-user"></i>
            </div>
            <span class="weui-badge" style="position: absolute;top: -2px;right: -13px;">8</span>
        </span>
        <p class="weui-tabbar__label">我</p>
    </a>
</div>