<div class="weui-panel">
    <div class="weui-panel__hd">我</div>
    <div class="weui-panel__bd">
        <div class="weui-media-box weui-media-box_small-appmsg">
            <div class="weui-cells">
                <a [routerLink]="['/me/messages']" class="weui-cell weui-cell_access" href="javascript:;">
                    <div class="weui-cell__hd">
                        <i class="fa fa-bell-o" style="margin-right:5px;"></i>
                    </div>
                    <div class="weui-cell__bd weui-cell_primary">
                        <p>消息</p>
                    </div>
                    <span class="weui-cell__ft"></span>
                </a>
                <a [routerLink]="['/me/favorites']" class="weui-cell weui-cell_access" href="javascript:;">
                    <div class="weui-cell__hd">
                        <i class="fa fa-heart-o" style="margin-right:5px;"></i>
                    </div>
                    <div class="weui-cell__bd weui-cell_primary">
                        <p>收藏</p>
                    </div>
                    <span class="weui-cell__ft"></span>
                </a>
            </div>
        </div>
    </div>
</div>